
**简要描述：**

- 用户注册接口

**请求URL：**
- ` /api/user/register `

**请求方式：**
- POST

**参数：**

|参数名     |必填 |类型   |说明       |
|:----      |:--- |:----- |-----      |
|username   |是   |string |用户名     |
|password   |是   |string |密码       |
|name       |否   |string |昵称       |

 **返回示例**

成功示例

``` json
{
  "statuscode": 1,
  "data": {
    "uid": "1",
    "username": "12154545",
    "name": "吴系挂",
    "groupid": 2 ,
    "reg_time": "1436864169",
    "last_login_time": "0",
  }
}
```

失败示例

``` json
{
  "statuscode": -40001,
  "error_msg": "非法请求"
}
```

 **返回参数说明**

|参数名  |类型  |说明     |备注  |
|:-----  |:-----|-----    |----- |
|statuscode |int |状态码 |1：成功；other：失败 |
|error_msg |string |错误消息 |只有失败时才返回 |
|uid |int |用户id | |
|username |string |用户名 | |
|groupid |int |用户组id |1：超级管理员；2：普通用户 |
|reg_time |int |注册时间 |时间戳格式 |
|last_login_time |int |上次登陆时间 |时间戳格式 |
| | | | |

 **备注**

- 更多返回错误代码请看首页的错误代码描述

